.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
*.pem
*.key
data/*
!data/.gitkeep
node_modules/
.DS_Store
!data/addresses_enriched.csv
!data/cache/
runs/*
!runs/.gitkeep
!data/addresses_online.csv
data/cache/online/
!data/external/
data/cache/external/
